[Unit]
Description=Freenove Hexapod Robot Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/wkenn/Code/freenove-hexapi/Code/Server
ExecStart=/usr/bin/python3 main.py -tn
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
